// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


ul {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: -38px;
}

li {
  background: lightblue;
  list-style: none;
  margin-right: 15px;
  font-size: 26px;
  border: 7px solid lightblue;
  border-radius: 5px;
}

p {
  font-size: 19px;
  margin-bottom: 9px;
}

.input-bar {
  font-size: 19px;
  border-radius: 3px;
}

.submit-btn {

}
